<!DOCTYPE html>
<html>
  <head>
    <title>AuthFromScratch</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <nav>
    <ul>
      <% if current_user %>
        <li> <b>Welcome: <small> <%= current_user.email %> </small></b>  </li>
        <li>
          <%= button_to "Sign Out", logout_path, method: :delete, data: {turbo_confirm: "Are you sure you want to sign out?"}%>
        </li>
      <% else %>
        <li> <%= link_to "Sign Up", sign_up_path %> </li>
        <li> <%= link_to "Login", login_path %> </li>
      <% end %>
    </ul>
  </nav>
  <% flash.each do |type, msg|%>
    <p><%= msg %></p>
  <% end %>
    <%= yield %>
  </body>
</html>
